<div class="container">
    <div class="heading-container">
        <img src="./assets/img/burger.png" alt="A Burger">
        <h1>Eat Da Burger!</h1>
    </div>
    <div class="waiting">
        <table>
            <table>
                {{#each burgers}}
                <tr>
                    <td>{{burger_name}}</td>
                    <td><button value={{id}}>Eat this burger!</button></td>
                </tr>
                {{/each}}
            </table>
        </table>
    </div>
    <div class="eaten">

    </div>
    <div class="input">
        <form>
            <input type="text"><br>
            <button>Add My Burger!</button>
        </form>
    </div>
</div>